---

###
### Lints all generic and json files in the whole git repository
###

name: pypi
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    name: pypi
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install build dependencies
        run: python -m pip install build setuptools wheel

      - name: Build distributions
        shell: bash -l {0}
        run: python setup.py sdist bdist_wheel

      # Only on git Tag in our own repository
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.3
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
        if: github.repository == 'flaconi/slackbot-pagey' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
